version: '3.8'

services:
  db:
    image: postgres:15
    container_name: medical_db_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: medical_db
    ports:
      - "5434:5434"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: medical_api_container
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5434/medical_db
    depends_on:
      - db

volumes:
  postgres_data: